# Created by https://www.gitignore.io/api/c++
# Edit at https://www.gitignore.io/?templates=c++

obj/*
bin/*
build/

# editor metadata
tags
compile_commands.json
cscope.out

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.gitignore.io/api/c++
makefile_out

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
# Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# TODO files
TODO/*

# environment
.env

# python cache
*__pycache__/

.antlr

third_party/boost_1_82

# Python virtual environment
.venv

# clangd
/.cache

/Notes.md
/query.rq

/data/
/tests/tmp
/tests/sparql/tmp
/tests/sparql/test-status-last.txt
/tests/mql/tmp
/tests/mql/test-status-last.txt
/tests/trie/tmp-db
/tests/gql/tmp
/tests/gql/test-status-last.txt

/logs/

/deb-package/boost_1_*
/deb-package/output/

# Jetbrains IDEs
/.idea/

/trie.dot
/trie.dot.svg

**/.DS_Store
