# Created by https://www.gitignore.io/api/c++
# Edit at https://www.gitignore.io/?templates=c++

obj/*
bin/*
build/

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.gitignore.io/api/c++
makefile_out

# Testing
tests/dbs/*.*
tests/dbs/*
tests/query_debug
tests/manual_query_debug
tests/outputs/*

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

# environment
.env

# python cache
*__pycache__/
